<a href="index.html" class="app-brand-link">
  <span class="app-brand-logo demo">
    <div class="app-brand justify-content-center">
      <a href="#" class="app-brand-link gap-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/NaritLogoPng_0.png" width="125">
      </a>
    </div>
  </span>
  <span class="app-brand-text demo menu-text fw-bolder ms-2"></span>
</a>

<a
  href="javascript:void(0);"
  class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
>
  <i class="bx bx-chevron-left bx-sm align-middle"></i>
</a>