<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
      <a href="booking" class="menu-link">
        <i class="menu-icon tf-icons bx bx-envelope"></i>
        <div data-i18n="Analytics">Add mail</div>
      </a>
    </li>
</ul>
