<!DOCTYPE html>

<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../template/assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <style>
      body {
        background-image: url("https://www.mhesi.go.th/images/2563/pornnapa/280163/Sirindhron_AstroPark/AstroPark_4.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
    </style>
    <title><%= documentTitle %></title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../template/assets/img/favicon/favicon.ico"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link
      rel="stylesheet"
      href="../template/assets/vendor/fonts/boxicons.css"
    />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="../template/assets/vendor/css/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="../template/assets/vendor/css/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="../template/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="../template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />

    <!-- Page CSS -->
    <!-- Page -->
    <link
      rel="stylesheet"
      href="../template/assets/vendor/css/pages/page-auth.css"
    />
    <!-- Helpers -->
    <script src="../template/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../template/assets/js/config.js"></script>
  </head>

  <body>
    <!-- Content -->
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card">
              <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                  <a href="#" class="app-brand-link gap-2">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/c/c7/NaritLogoPng_0.png"

                      width="300"
                    />
                  </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">ADMIN</h4>
                <!-- <p class="mb-4">Please sign-in to your account and start the adventure</p> -->

                <form id="formAuthentication" class="mb-3">
                  <div class="mb-3">
                    <label for="username" class="form-label"
                      >Email or Username</label
                    >
                    <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Enter your email or username"
                      autofocus=""
                    />
                  </div>
                  <div class="mb-3 form-password-toggle">
                    <div class="d-flex justify-content-between">
                      <label class="form-label" for="password">Password</label>
                      <a href="auth-forgot-password-basic.html">
                        <small>Forgot Password?</small>
                      </a>
                    </div>
                    <div class="input-group input-group-merge">
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        name="password"
                        placeholder="············"
                        aria-describedby="password"
                      />
                      <span class="input-group-text cursor-pointer"
                        ><i class="bx bx-hide"></i
                      ></span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="remember-me"
                      />
                      <label class="form-check-label" for="remember-me">
                        Remember Me
                      </label>
                    </div>
                  </div>
                  <!-- <div class="login">
                    <button
                      class="btn btn-primary d-grid w-100"
                      onclick="regis(preventDefault)"
                    >
                      Sign in
                    </button>
                  </div> -->
                </form>
                <form> 
                  <button onclick="login()"
                    type="submit"
                    class="btn btn-primary d-grid w-100"
                  
                    >
                    Sign in
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../template/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../template/assets/vendor/libs/popper/popper.js"></script>
    <script src="../template/assets/vendor/js/bootstrap.js"></script>
    <script src="../template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../template/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../template/assets/js/main.js"></script>
    <script>"../"</script>
    <!-- Page JS -->
    <script src="../services.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
                                                                                                      
    <script>
      async function login(){
        let d = document;
        let data = {"username":d.getElementById("username").value
                  ,"password":d.getElementById("password").value}
        console.log(data);
        let response = await axios({
            method: 'post',
            url: 'htttp://localhost:3002/register',
            headers: {
              "Access-Control-Allow-Origin":"*"
              , 'Content-Type': 'application/json'
            },
            data:JSON.stringify(data)
        });
        if(response.data.status=="0"){
          alert("ไม่พบผู้ใช้งาน")
        }else if(response.data.status=="1"){
          localStorage.setItem("acces_token",response.data.access_token);
          location.href = location.origin+"/jwt_auth";
        }
      }
    </script>
  </body>
</html>
